@media screen and (max-width: 592px) {
  .container {
    flex-direction: column;
    width: 100%;
  }
  .tasks {
    width: 100%;
    height: 50%;
  }
  .para p {
    flex: 1;
  }
  strong {
    margin-left: 2rem;
    width: 100%;
  }
  small {
    text-align: center;
    /* margin: 0 auto; */
    width: 100%;
  }
}
@media screen and (max-width: 944px) {
  .input_task {
    flex-direction: column;
    width: 100%;
  }
  #dueDate,
  #input,
  .addTask {
    width: 50%;
  }
  .tasks {
    width: 100%;
    flex: 1;
    flex-direction: column;
  }
  .para {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }
  strong {
    font-size: 16px;
  }
  small {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    padding: 5px 15px;
  }
}
